<div ng-controller="homeCtrl">
    <div ng-view></div>
</div>
@section scripts {
    <script src="@Url.Content("~/Scripts/angular.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/angular-resource.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/angular-sanitize.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/angular-animate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/angular-messages.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/angular-route.min.js")" type="text/javascript"></script>
    
    <script src="@Url.Content("~/Scripts/app/app.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/app/ctrl/homeCtrl.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/app/ctrl/sectorCtrl.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/app/ctrl/ciudadCtrl.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/app/ctrl/paisCtrl.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/app/services/sectorService.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/app/services/ciudadService.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/app/services/paisService.js")" type="text/javascript"></script>
    
}